body::-webkit-scrollbar {
  display: none;
}


.body {
  user-select: none;
  margin: 0;
  padding: 0;
  background-image: url(./img/cosmos.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -2;
}
.body2 {
  margin: 0;
  padding: 0;
  background-image: url(./img/cosmos2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 0;
}
.projects-header {
    margin-top:1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.projects-header p {
  font-size: 3rem;
  font-family: "Ballet";
  color: aliceblue;
}
.project{
    height: 200px;
    width: 200px;
    margin: 3rem;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px grey;
    transition: .2s linear;
}
.project:hover{
 transform: translate(5px,5px);
 box-shadow: 7px 7px 7px lightskyblue;
 transition: .2s linear;
}
.project-row-column{
    display: flex;
    flex-direction: row;
}

.project-img-outer-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-outer-div {
  height: 150vh;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  background-color: rgba(0, 0, 0);
}
.contact-outer-div {
  height: 130vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pc-navbar {
  height: 8vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  position: fixed;
  transition: 0.5s linear;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.navlink-div {
  margin-right: 5vw;
}
.pc-navbar a {
  text-decoration: none;
  color: aliceblue;
  margin-left: 3rem;
  font-size: 1.5rem;
}
.pc-navbar a:hover {
  transition: 0.5s linear;
  color: rgb(10, 85, 151);
  text-decoration: none;
}
.pc-navbar i {
  font-size: 5vh;
  color: aliceblue;
  margin-left: 2vw;
}
.pc-navbar-grow {
  height: 12vh;
  transition: 0.5s linear;
}
.hero-header-div {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  z-index: -5;
  color: aliceblue;
  text-shadow: 3px 3px 5px black;
}
.name-header{
    font-family:"Ballet";
    font-size: 6rem;
}
.hero-outer-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.fa-angle-double-up {
  font-size: 50px;
  color: aliceblue;
}
.top-button {
  height: 80px;
  width: 80px;
  background-color: rgba(128, 128, 128,0.8);
  display: flex;
  position: fixed;
  top: 80vh;
  right: 0;
  transform: translateX(101px);
  transition: 0.5s linear;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button-out {
  transform: translateX(0);
  transition: 0.5s linear;
}
.contact-header{
    text-align: center;
    font-size: 3rem;

}
.footer {
  height: 35vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
}

.social-footer{
    display: flex;
    justify-content:center;
}
.social-footer i{
   color: aliceblue;
   font-size: 3rem;
   margin: 1rem;
}
.contact-footer{
    margin-left: 1rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.container input,
select,
textarea {
  background-color: rgba(0, 0, 0);
  color: aliceblue;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width:780px ){
    .project-row-column{
        flex-direction: column;
    }
}
@media only screen and (max-width:500px){
    .projects-outer-div {
        height: 200vh; 
      }
      .footer{
        height: 40vh;
      }
      .social-icon-div i{
          font-size: 2rem;
      }
}
@media only screen and (min-width:1000px ){
    .projects-outer-div {
        height: 100vh; 
      }
      .footer{
        height: 25vh;
      }
      .social-icon-div i{
          font-size: 5rem;
      }
}
